body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  width: 20px;
  height: 20px;
}
.latticeBody {
  padding: 4px;
  /* min-width: 1000px;
  min-height: 1000px; */
  background-color: #FFFFFF;
}
.controls{
  cursor: pointer;
  background: #cacaca;
  padding: 5px;
  border-radius: 3px;
  border:2px solid #dadada;
  border-right: 5px solid #8a8a8a;
  border-top: 5px solid #8a8a8a;
  width: 200px;
  margin: 20px 20px 100px 100px;
  text-align: center;
}
.controls:hover{
  background: #9a9a9a;
  padding: 5px;
  border-radius: 3px;
  border:2px solid #dadada;
  border-left: 5px solid #8a8a8a;
  border-bottom: 5px solid #8a8a8a;
  
}

.row {
  display: flex;
  flex-flow: row;
}
.row-wrap{
  display: flex;
  flex-flow: row;
}
.swatch {
  width:20px; height:20px; margin: 2px;
}